{% extends "base.html" %}
{% block content %}
<div class="row">
    <section>
    <div class="large-12 columns">
        <h1 class="title-main">Mardi Gras</h1>
        
        <h4 class="text-right" style="color:#008cba"><<< caption >>></h4>
    </div>
            <div class="large-12 columns container" style="border-bottom-left-radius: 0px;border-bottom-right-radius:0px; ">
                <ul class="example-orbit" data-orbit>
  <li>
    <img src="../static/img/image1.jpg" alt="slide 1" />
    <div class="orbit-caption">
      Caption One.
    </div>
  </li>
  <li class="active">
    <img src="../static/img/image2.jpg" alt="slide 2" />
    <div class="orbit-caption">
      Caption Two.
    </div>
  </li>
  <li>
    <img src="../static/img/image3.jpg" alt="slide 3" />
    <div class="orbit-caption">
      Caption Three.
    </div>
  </li>
</ul>
         <p class="plain">Whilst the divergent degree of the 2001/2002 relative outlook is unlikely to be sustained over the next decade, a
healthier environment for the BRICs seems likely to remain, and as a result, their share of worldGDPis set to rise.Whilst the divergent degree of the 2001/2002 relative outlook is unlikely to be sustained over the next decade, a healthier environment for the BRICs seems likely to remain, and as a result, their share of worldGDPis set torise.</p>       
        </div>
    </section>
        </div>
                <section id="portfolio" style="padding-bottom:0px;">
                <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4 text-center">
                    <li><a href="#">
                        <img class="th" src="../static/img/port1.png" alt="image1" /></a>
                        <h4>About Us</h4>
                    </li>
                    <li><a href="#">
                        <img class="th" src="../static/img/port2.png" alt="image2" /></a>
                        <h4>The Mardi Gras Collection</h4>
                    </li>
                    <li><a href="#">
                        <img class="th" src="../static/img/port3.png" alt="image3" /></a>
                        <h4>Contact Us</h4>
                    </li>
                    <li><a href="#">
                        <img class="th" src="../static/img/port4.png" alt="image1" /></a>
                        <h4>Location</h4>
                    </li>
                    <li><a href="#">
                        <img class="th" src="../static/img/port5.png" alt="image2" /></a>
                       <h4>__testing__</h4>

                    </li>
                    <li><a href="#">
                        <img class="th" src="../static/img/port6.png" alt="image3" /></a>
                       <h4>__testing__</h4>
                    </li>
                    <li><a href="#">
                        <img class="th" src="../static/img/port7.png" alt="image2" /></a>
                        <h4>__testing__</h4>

                    </li>
                    <li><a href="#">
                        <img class="th" src="../static/img/port8.png" alt="image3" /></a>
                        <h4>__testing__</h4>
                    </li>
                </ul>
                    </section>
                
                    <div class="row">
                <div class="large-12 columns plain" style="padding-top:10px;">
                    <p>{{ details }}</p>
                    <div class="or-spacer">
              <div class="mask"></div>
              <span></span>
          </div>
                </div>
                        
    <div class="large-12 colums">{{ map }}</div>
{% endblock content %}